@import url("reset.css");

#navbar{
    background-color: red;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    width: 100%;
    height: 100px;
}

p{
    font-size: 2em;
    color: navajowhite;
}

body{
    background-image: url("../assets/images/index_background.jpeg") ;
}

#navbar-container{
    height: 80px;
    width: 80%;
    background-color: blueviolet;
    margin:  auto;
    display: inline-block;
}