@import url("reset.css");

#navbar{
    background-color: transparent;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    width: 100%;
    height: 100px;
}

p{
    font-size: 5em;
}

body{
    background-color: blue;
}